  *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
         font-family: sans-serif;
         background: linear-gradient(#96cad2, #b9e0e4);
    }
    .container{
        /* border: 2px solid red; */
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact-left{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        /* border: 2px solid red; */
        margin-left: 100px;
    }

    .contect-left-title h2{
        font-weight: 600;
        color: #246a7a;
        font-size: 40px;
        margin-bottom: 5px;
    }

    .contect-left-title hr{
        width: 120px;
        height: 5px;
        background-color: #246a7a;
        border-radius: 10px;
        margin-bottom: 20px;
        border: none;
    }

    .contact-inputs{
        width: 400px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 20px;
        font-weight: 500;
        color: #666;
        margin: 3px;
        border-radius: 20px;
    }

    .contact-inputs::placeholder{
        color: #a9a9a9;
    }

    .contact-left textarea{
        height: 140px;
        padding-top: 15px;
    }

    .contact-inputs:focus{
        border: 2px solid #77daa5;
    }

    .contact-left button{
        align-items: center;
        padding: 15px 30px;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 50px;
        background: linear-gradient(to right, #ffb64f, #fbc02d);
        cursor: pointer;
    }

    .contact-left button:hover {
        background: linear-gradient( #f7ad46, #fdc023);
    }

    .contact-right{
        /* border: 2px solid red; */
        margin-right: 100px;
    }

    .contact-right img{
        width: 400px;
    }
    
    @media (max-width:800px){
        .contact-inputs{
            width: 80hw;
        }
        .contact-right{
            display: none;
        }
        .contact-left{
        margin-left: 0px;
      }
    }
